.main {
    flex: 1;
}
  
.bg-dark {
background-color: #e4e7f1;
padding-bottom: 20px;
padding-top: 1px;
}


.sign-in-sign-up-button {
display: block;
width: 100%;
padding: 8px;
font-size: 1.1rem;
font-weight: bold;
margin-top: 1rem;
border-color: #5256EC;
background-color: #5256EC;
color: #fff;
border-radius: 5px;
}

.sign-in-sign-up-content {
box-sizing: border-box;
background-color: white;
width: 300px;
margin: 0 auto;
margin-top: 3rem;
padding: 2rem;
}

.sign-in-sign-up-icon {
font-size: 3rem;
}


.input-remember {
    display: flex;
}

.input-remember label {
margin-left: 0.25rem;
}

.input-wrapper {
display: flex;
flex-direction: column;
text-align: left;
margin-bottom: 1rem;
width: 99%;
border-color: #80808063;
}

.input-wrapper label {
font-weight: bold;
}

.input-wrapper input {
padding: 5px;
font-size: 1.2rem;
}

.empty-field-message{
    color: red;
}

.iconProfileConnect{
    color: #808080;
    background: #e4e7f1;
    border-radius: 50%;
    padding: 25px;
}

